@import "../../../../../assets/styles/mixins.scss";

#footer {
  @include reg-text(var(--white));
  @include flex-center(column, space-between);
  width: 100%;
  height: 125px;
  min-height: 125px;
  max-height: 125px;
  background-color: var(--header-black);
  overflow: hidden;
  text-align: center;
  font-size: clamp(16px, 0.9vw, 16px);
  text-size-adjust: none;

  .bio {
    padding-top: 20px;

    a {
      @include underline-hover-link;
    }
  }

  .copyright {
    font-size: 0.8em;
  }

  .tech {
    padding-bottom: 20px;
    width: 20px;
  }
}

/* Zoom [not great practice] prevents the header from becoming ridiculously large */
@media (max-width: 800px) { #footer { zoom: 0.8; } }
@media (max-width: 500px) { #footer { zoom: 0.7; }
@media (max-width: 300px) { #footer { zoom: 0.4; } }
}
