@import "../../../../../assets/styles/mixins.scss";

#footer {
  @include reg-text(var(--white));
  @include flex-center(column, space-between);
  background-color: var(--header-black);
  height: 125px;
  min-height: 125px;
  max-height: 125px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  font-size: clamp(16px, 0.9vw, 16px);
  text-size-adjust: none;

  .bio {
    padding-top: 20px;

    a {
      color: var(--hacker-pink);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .copyright {
    font-size: 0.8em;
  }

  .tech {
    padding-bottom: 20px;
    width: 20px;
  }
}

@media (max-width: 800px) {
  #footer {
    zoom: 0.8; /* Scale down the footer */
  }
}

@media (max-width: 500px) {
  #footer {
    zoom: 0.7; /* Further reduce footer size */
  }

  @media (max-width: 300px) {
    #footer {
      zoom: 0.4; /* Further reduce footer size */
    }
  }
}
