@import "../../../../../assets/styles/mixins.scss";

.tags-wrapper {
  @include flex-center(row, flex-start, normal);
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 0;
}

.tag {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border-radius: 15px;
  color: var(--white);
  font-size: 0.8rem;
  white-space: nowrap;
}

.show-more {
  @include underline-hover-link;
  margin-top: 0.5rem;
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  text-align: left;
}
