@import "../../../../../assets/styles/mixins.scss";

.tags-wrapper {
  @include flex-center(row, flex-start, normal);
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 0;
}

.tag {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border-radius: 15px;
  font-size: 0.8rem;
  color: var(--white);
  white-space: nowrap;
}

.show-more {
  font-size: 0.75rem;
  color: var(--hacker-pink);
  cursor: pointer;
  margin-top: 0.5rem;
  text-align: left;
  letter-spacing: 0.05rem;

  &:hover {
    text-decoration: underline;
  }
}
