@import '../../../../../assets/styles/mixins.scss';

.tabs {
  @include reg-text(var(--header-black));
  display: flex;
  gap: 10px;
  padding-bottom: 10px;

  button {
    padding: 10px 15px;
    border: none;
    background: none;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;

    &.active {
      border-bottom: 3px solid var(--hacker-pink);
    }

    &:hover {
      color: var(--hacker-pink);
    }
  }
}
