@import '../../../../../assets/styles/mixins.scss';

.header {
  @include flex-center(row, flex-start, center);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  padding: 10px;
  background-image: url("../../../../../assets/images/VMM_Backdrop_2.png");
  background-size: 25%;
  box-shadow: var(--box-shadow-black) 0px 5px 15px;

  .header-img {
    width: 50px;
    padding: 0 5px;
  }

  .header-item {
    @include reg-text(var(--white));
    display: inline-block;
    position: relative;
    margin-left: 15px;
    background-color: var(--header-black);
    overflow: hidden;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
  }

  .header-item::before,
  .header-item::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
  }

  .header-item::before {
    bottom: 0;
    height: 2px;
    background-color: var(--hacker-pink);
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }

  .header-item::after {
    content: attr(data-replace);
    top: 0;
    height: 100%;
    color: var(--hacker-pink);
    transform-origin: 100%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }

  .header-item:not(.active-link):hover::before {
    transform: scaleX(1);
    transform-origin: 0% 50%;
  }

  .header-item:not(.active-link):hover::after {
    transform: translate3d(0, 0, 0);
  }

  .header-item span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }

  .header-item:not(.active-link):hover span {
    transform: translate3d(-200%, 0, 0);
  }
}

.active-link {
  color: var(--hacker-pink) !important;
}

/* Zoom [not great practice] prevents the header from becoming ridiculously large */
@media (max-width: 800px) { .header { zoom: 0.8; } }
@media (max-width: 500px) { .header { zoom: 0.7; }
@media (max-width: 300px) { .header { zoom: 0.4; } }

}
