@import '../../../../../assets/styles/mixins.scss';
@import '../../../../../assets/styles/animations.scss';

.article-wrapper {
  @include flex-center;
  height: 100%;
  padding: 2rem 0;
}

.article-grid {
  @include flex-center(row, center, stretch);
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  padding: 20px;

  app-article-card {
    @include flex-center(column, normal, normal);
    flex: 1 1 300px;
    max-width: 400px;
  }
}

.parallax-bg-1 {
  min-height: 300px;
}


.parallax-bg-3 {
  min-height: 350px;
}

.featured-story {
  @include flex-center(column);
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  color: var(--white);
  text-align: center;
  border-radius: 8px;
}

.featured-story-header {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 1rem;
  animation: pulse 2s infinite alternate ease-in-out;
}