@import '../../../../../assets/styles/mixins.scss';

.article-wrapper {
  @include flex-center;
}

.featured {
  flex-direction: column;
}

.featured-story-header {
  font-size: 2rem;
  font-weight: bold;
  color: var(--black);
  text-align: center;
  letter-spacing: 1px;
  padding-bottom: 0.5rem;
}

.article-grid {
  @include flex-center(row, center, stretch);
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  padding: 20px;

  app-article-card {
    flex: 1 1 300px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
  }
}

.parallax-bg-1 {
  min-height: 300px;
}


.parallax-bg-3 {
  min-height: 300px;
}