@import "../../../../assets/styles/animations.scss";
@import "../../../../assets/styles/mixins.scss";

.info-container {
  @include flex-center(column-reverse, flex-end, stretch);
  @include hacker-text(var(--lightgray));
  height: 160px;
  overflow: hidden;
  cursor: pointer;
  transition: height 0.3s ease-in-out, padding 0.3s ease-in-out;
  font-size: 14px;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--dark-red);

  .boot-sequence {
    @include flex-center(column-reverse, flex-end, stretch);
  }

  .system-info {
    @include flex-center(column, center, stretch);
    height: 100%;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
  }

  .scroll-in {
    animation: scrollUp 0.6s ease-in-out forwards;
  }

  .show-system-info {
    opacity: 1;
  }

  .collapsed-line {
    @include flex-center(row, space-between, center);
    width: 100%;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .system-label {
    color: var(--hacker-pink);
    font-weight: bold;
  }

  .typing-text {
    display: inline-block;
    white-space: pre;
  }

  .cursor {
    display: inline-block;
    font-weight: bold;
    color: var(--hacker-pink);
    animation: blink 0.8s infinite;
  }

  &.glitch {
    animation: glitch-effect 0.3s ease-in-out;
  }

  &.collapsed {
    height: 20px;
    padding: 5px;

    .collapsed-line {
      animation: scrollUp 0.3s ease-in-out forwards;
    }
  }
}

@media (max-width: 499px) {
  .info-container {
    &.collapsed {
      height: 25px;
      padding: 10px;
    }
  }
}
