@import '../../../../../assets/styles/mixins.scss';

.story-card {
  @include flex-center(column);
  @include reg-text(var(--lightgray));
  max-width: 1200px;
  margin: 25px;
  padding: 25px;
  border-radius: 8px;
  background-color: var(--header-black);
  text-align: left;
}

.article-content {
  max-width: 100%;
  line-height: 1.5;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.back-btn {
  @include underline-hover-link;
  margin-bottom: 10px;
  border: none;
  background: none;
  font-size: 16px;
}
