@import "./assets/styles/terminal.scss";

:root {
  --hacker-font-family: "Lucida Console", Monaco, monospace;
  --reg-font-family: Roboto, "Helvetica Neue", sans-serif;

  /* Colors */
  --white: #fff;

  --gray: gray;
  --lightgray: lightgrey;
  --semi-tran-gray: rgba(255, 255, 255, 0.5);

  --red: red;
  --dark-red: rgba(255, 0, 0, 0.2);

  --dark-green: rgba(0, 255, 0, 0.1);

  --black: #000;
  --header-black: #282928;
  --semi-tran-black: rgba(255, 255, 255, 0.05);

  --hacker-green: #0f0;
  --hacker-blue: aqua;
  --hacker-pink: #ff4081;
}

html,
body {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--hacker-font-family);
  margin: 0;
}
