<app-header></app-header>
<div class="gui-container">

  <!-- <section class="parallax parallax1">
      <div id="yo">YO</div>
      <div id="yolo">
        My name is Christian
        <div>I'm a Developer,</div>
        <div>Father,</div>
        <div>Husband,</div>
        <div>Explorer,</div>
        <div>Gamer</div>
      </div>
    </section> -->
  <!-- <section class="parallax parallax4"></section> -->
<!--
  <section class="content-section">
    <h2>Introduction</h2>
    <p>
      An experienced developer, tinkerer, and learner, with a track record of
      leading agile development teams, writing testable and maintainable code,
      whilst being passionate about innovation that leads to impact.
    </p>
  </section>

  <section class="content-section">
    <h2>About Me</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </section>-->

  <section class="parallax parallax2">
    <div class="card-container">
      <article *ngFor="let article of articles" class="card">
        <h2>{{ article.title }}</h2>
        <p>{{ article.content }}</p>
      </article>
    </div>
  </section>

  <section class="parallax parallax3"></section>


  <app-footer></app-footer>
</div>

<!-- <div class="gui-container">
  <div *ngFor="let node of fileSystem" class="section">
    <h2>{{ node.name }}</h2>
    <div *ngIf="node.type === 'directory'">
      <p>Folder: {{ node.name }}</p>
    </div>
    <div *ngIf="node.type === 'file'">
      <p>File: {{ node.name }}</p>
      <p>{{ node.content }}</p>
      <a *ngIf="node.isUrl" [href]="node.content" target="_blank">Open Link</a>
    </div>
  </div>
</div> -->
<!-- <main>
    <section class="articles">
      <article *ngFor="let article of articles" class="card">
        <h2>{{ article.title }}</h2>
        <p>{{ article.content }}</p>
      </article>
    </section>
  </main> -->
