:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

app-header {
  flex-shrink: 0;
}

.gui-container {
  flex: 1;
  overflow-y: auto;
  width: 100%;
  margin-top: 70px;
}

.parallax {
  // height: calc(100vh);
  //min-height: calc(100vh - 302px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  color: var(--white);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-top: 2rem;
}

.parallax1 {
  background-image: url("../../../assets/images/cmr-water2.jpg");
}

.parallax2 {
  background-image: url("../../../assets/images/VMM_Backdrop_1.png");
}

.parallax3 {
  background-image: url("../../../assets/images/VMM_Backdrop_4.png");
  max-height: 175px;
}

.parallax4 {
  background-image: url("../../../assets/images/VMM_Backdrop_2.png");
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 35px;
}

.card {
  flex: 1 1 300px;
  width: 90%;
  padding: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    max-width: 90%;
  }
}
