@import "../../../../../assets/styles/mixins.scss";

.article-wrapper {
  @include flex-center(column, flex-start, center);
  padding: 2rem 0;
}

app-card {
  max-width: 1910px;
  padding: 2rem;
}

.article-grid {
  @include responsive-grid;
  justify-content: center;
}

app-tab {
  align-self: flex-start;
}

app-article-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 300px;
  max-width: 500px; // Ensures uniform width
  box-sizing: border-box;
}

/* Adjust for responsiveness */
@media (max-width: 1200px) {
  .article-grid {
    grid-template-columns: repeat(2, minmax(300px, 1fr)); // 2 columns per row when screen is smaller
  }
}

@media (max-width: 768px) {
  .article-grid {
    grid-template-columns: repeat(1, minmax(300px, 1fr)); // 1 column per row for mobile screens
  }
}
