@import '../../../../assets/styles/animations.scss';
@import '../../../../assets/styles/mixins.scss';

.branding-box {
  @include flex-center(column);
  @include border-box;
  @include hacker-text(var(--white));
  width: 1200px;
  height: 120px;
  text-align: center;
  padding: 10px;
}

.glitch-text {
  @include flex-center;
  @include hacker-text;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 12px;
  margin: 0;
}

.tagline {
  font-size: 14px;
  font-weight: bold;
  color: var(--white);
}

.subtext {
  font-size: 14px;
  font-style: italic;
  color: var(--hacker-blue);
  padding-bottom: 5px;
}

@media (max-width: 1250px) {
  .branding-box {
    width: 90vw;
  }
}

@media (max-width: 450px) {
  .tagline,
  .subtext {
    font-size: 0.75em;
    margin: inherit -5px;
  }
}
