@import "../../../../../assets/styles/mixins.scss";

.article-wrapper {
  @include flex-center(column, flex-start, center);
  height: 100%;
  min-height: calc(100vh - 259px);
  padding: 2rem 0;
}

.article-grid {
  @include flex-center(row);
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  max-width: 900px;

  app-article-card {
    min-width: 300px;
  }
}
