.terminal-highlight {
  outline: 1px solid var(--gray);
  border-radius: 3px;
  padding: 3px;
  background-color: var(inkwell-black);
  color: var(--hacker-pink)
}

.terminal-table {
  width: 100%;
  border-collapse: collapse;
  font-family: var(--hacker-font-family);
  background: var(--black);
  color: var(--lightgray);
}

.terminal-table th,
.terminal-table td {
  border: 1px solid var(--gray);
  padding: 5px 10px;
  text-align: left;
}

.terminal-table th {
  background: var(--off-black);
  color: var(--hacker-green);
  font-weight: bold;
  text-transform: uppercase;
}

.terminal-table tr:nth-child(even) {
  background: var(--semi-tran-black);
}

.terminal-table tr:hover {
  background: var(--dark-green);
  transition: background 0.2s ease-in-out;
}

@media (max-width: 600px) {
  .terminal-table {
    font-size: 12px;
  }

  .terminal-table th,
  .terminal-table td {
    padding: 3px 6px;
  }
}
