@import "../../../../assets/styles/animations.scss";

.hacker-container {
  color: var(--hacker-green);
  font-family: var(--hacker-font-family);
  padding: 10px;
}

.hacker-output {
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  scrollbar-width: thin;
  scrollbar-color: var(--hacker-green) var(--black);
}

.hacker-line {
  white-space: pre;
}

.typing-line {
  white-space: pre;
}

.cursor {
  display: inline-block;
  font-weight: bold;
  color: var(--hacker-green);
  animation: blink 0.8s infinite;
}

.compilation-text {
  color: var(--white);
  font-weight: bold;
}
