@import "../../../../assets/styles/animations.scss";
@import "../../../../assets/styles/mixins.scss";

.hacker-container {
  @include hacker-text;
  font-family: var(--hacker-font-family);
  padding: 10px;
}

.hacker-output {
  @include flex-center(column, flex-end, stretch);
  flex-grow: 1;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--hacker-green) var(--black);
}

.hacker-line {
  white-space: pre;
}

.typing-line {
  white-space: pre;
}

.cursor {
  display: inline-block;
  font-weight: bold;
  color: var(--hacker-green);
  animation: blink 0.8s infinite;
}

.compilation-text {
  font-weight: bold;
  color: var(--white);
}
