@import '../../../../../assets/styles/mixins.scss';

.story-card {
  @include flex-center(column);
  @include reg-text(var(--lightgray));
  background-color: var(--header-black);
  padding: 25px;
  margin: 25px;
  border-radius: 8px;
  max-width: 1200px;
  text-align: left;
}

.article-content {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  line-height: 1.5;
}

.back-btn {
  background: none;
  border: none;
  color: var(--hacker-pink);
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;

  &:hover {
    text-decoration: underline;
  }
}
