<header class="header" color="primary">
  <img class="header-img" src="../assets/images/VMM.png">
  <div class="header-item" routerLink="/home" routerLinkActive="active-link" data-replace="Ridloncmr"><span>Ridloncmr</span></div>
  <div class="header-item" routerLink="/game-prices" routerLinkActive="active-link" data-replace="Game Prices"><span>Game Prices</span></div>
  <div class="header-item" routerLink="/blog" routerLinkActive="active-link" data-replace="Blog"><span>Blog</span></div>
</header>
