@import '../../../../assets/styles/animations.scss';

.branding-box {
  width: 1200px;
  height: 120px;
  background: black;
  color: white;
  font-family: 'Lucida Console', Monaco, monospace;
  border: 2px solid gray; //2px solid rgba(255, 0, 0, 0.3);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  //box-shadow: 0 0 20px rgba(255, 0, 0, 0.2);
}

.glitch-text {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  color: #0f0; // Green hacker aesthetic
  letter-spacing: 1.5px;
  display: flex;
  justify-content: center;
  padding: 12px;
  margin: 0;
}

.slot-reel {
  display: inline-block;
  animation: slotMachine 0.1s linear infinite;
}

@keyframes slotMachine {
  0% { transform: translateY(0px); opacity: 1; }
  50% { transform: translateY(-3px); opacity: 0.5; }
  100% { transform: translateY(0px); opacity: 1; }
}

.tagline {
  font-size: 14px;
  font-weight: bold;
  color:rgba(255, 0, 0, 1);
}

.subtext {
  font-size: 14px;
  color: lightgray;
  font-style: italic;
  padding-bottom: 5px;
}

@media (max-width: 1250px) {
  .branding-box {
    width: 90vw;
  }
}

@media (max-width: 450px) {
  .tagline,
  .subtext {
    margin: inherit -5px;
    font-size: .75em;
  }
}
