@import '../../../assets/styles/mixins.scss';

.terminal-container {
  @include flex-center(column);
  gap: 5px;
  margin-top: 10px;
}

.terminal {
  @include flex-center(column, flex-start, stretch);
  @include hacker-text(var(--white));
  @include border-box;
  width: 1200px;
  height: calc(90vh - 120px);
  padding: 10px;
  overflow: hidden;
}

.terminal-body {
  @include hide-scrollbar;
  flex-grow: 1;
  padding: 5px;
  overflow-y: auto;
}

@media (max-width: 1250px) {
  .terminal {
    width: 90vw;
  }
}
