@import "./assets/styles/terminal.scss";
@import "./assets/styles/mixins.scss";

:root {
  --hacker-font-family: "Lucida Console", Monaco, monospace;
  --reg-font-family: Roboto, "Helvetica Neue", sans-serif;

  /* Colors */
  --white: #fff;
  --semi-tran-white: rgba(255, 255, 255, 0.85);

  --gray: gray;
  --lightgray: #ccc;
  --med-gray: #aaa;
  --dark-gray: rgba(255,255,255,0.1);
  --semi-tran-gray: rgba(255, 255, 255, 0.5);

  --red: red;
  --dark-red: rgba(255, 0, 0, 0.2);

  --dark-green: rgba(0, 255, 0, 0.1);

  --black: #000;
  --header-black: #282928;
  --semi-tran-black: rgba(255, 255, 255, 0.05);
  --box-shadow-black: rgba(0,0,0,0.35);

  --hacker-green: #0f0;
  --hacker-blue: aqua;
  --hacker-pink: #ff4081;
}

html,
body {
  margin: 0;
  background-color: var(--black);
  color: var(--white);
  font-family: var(--hacker-font-family);
}

.parallax-bg-1 {
  @include parallax;
  background-image: url("./assets/images/VMM_Backdrop_1.png");
}

.parallax-white {
  @include parallax;
  min-height: 400px;
  background-color: var(--white);
}

.parallax-bg-bf {
  @include parallax;
  background-image: url("./assets/images/bonfire.jpg");
}

.parallax-bg-3 {
  @include parallax;
  background-image: url("./assets/images/VMM_Backdrop_3.png");
}