@mixin flex-center($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin hide-scrollbar {
  /* Firefox */
  scrollbar-width: none;
  /* IE/Edge */
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
  }
}

@mixin border-box($bg: var(--black), $border: 2px solid var(--gray)) {
  background: $bg;
  border: $border;
  padding: 10px;
}

@mixin hacker-text($color: var(--hacker-pink)) {
  font-family: var(--hacker-font-family);
  color: $color;
}

@mixin reg-text($color: var(--black)) {
  font-family: var(--reg-font-family);
  color: $color;
}


@mixin parallax($min-height: 100vh) {
  min-height: calc($min-height - 227px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  color: var(--white);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 2rem;

  @media (max-width: 800px) {
    min-height: calc($min-height - 188px);
  }

  @media (max-width: 500px) {
    min-height: calc($min-height - 169px);
  }

  @media (max-width: 300px) {
    min-height: calc($min-height - 110px);
  }
}
