<div class="article-card">
  <div class="card-header" [ngClass]="{ 'card-header-border': bodySections.length }" *ngIf="directory?.type != 'file'">
    <div class="article-image-wrapper" *ngIf="imagePath">
      <img class="article-image" [src]="imagePath" [alt]="title" />
    </div>
    <h2 class="directory-title">
      <a *ngIf="url" [href]="url" target="_blank">{{ directory?.guiName }}</a>
      <span *ngIf="!url">{{ directory?.guiName }}</span>
    </h2>
    <h1 class="article-title" *ngIf="title" [innerHtml]="title"></h1>
    <h3 class="article-subtitle" *ngIf="subtitle" [innerHtml]="subtitle"></h3>
  </div>
  <div class="card-body" *ngIf="bodySections.length">
    <div *ngFor="let section of bodySections" class="article-section" [innerHtml]="section"></div>
  </div>
  <div class="card-tags" *ngIf="tags.length">
    <app-tags [tags]="tags"></app-tags>
  </div>
</div>