@import "../../../../../assets/styles/mixins.scss";

#footer {
  @include reg-text(var(--white));
  @include flex-center(column);
  background-color: var(--inkwell-black);
  height: 150px;
  width: 100%;
  text-align: center;

  .footer-content {
    @include flex-center(column);
    width: 100%;
  }

  .bio {
    padding-bottom: 10px;

    a {
      color: var(--hacker-pink);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .copyright {
    font-size: 0.8em;
    padding: 10px 0;
  }

  .powered-by {
    @include flex-center(column);
  }

  .tech {
    padding: 5px;
    width: 20px;
  }
}
