<!-- container -->
<footer id="footer">
  <div class="row mx-0">
    <div class="col bio">
      Link up with me on
      <a href="https://www.linkedin.com/in/christian-ridlon-05507312b/">
        LinkedIn
      </a>
      or tweet at me on
      <a href="https://twitter.com/ridloncmr"> Twitter </a>
    </div>
  </div>
  <div class="row mx-0">
    <div class="col copyright">
      &copy; Christian Ridlon 2022; All Rights Reserved
    </div>
  </div>
  <div class="row mx-0">
    <div class="col powered-by">
      Powered By:
    </div>
    <div class="w-100"></div>
    <div class="col">NG</div>
  </div>
</footer>
