@import "../../../../../assets/styles/mixins.scss";

.card {
  @include flex-center(column);
  @include uniform-card(var(--semi-tran-white));
  width: 90%;
  max-width: 1200px;
  border: 1px solid var(--lightgray);
  text-align: center;
}
